.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 10px; */
    background-color: #E8F9FD;
    /* color: #fff; */
  }
  
  .main {
    flex-grow: 1;
    /* padding-left: 5px; */
  }
  
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 240px;
    height: 100%;
    padding: 10px;
    background-color: #E8F9FD;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: 2px 2px 10px 0px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1;
  }
  
  .sidebar.show {
    transform: translateX(0);
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 10px;
  }
  
  .sidebar a {
    color: #333;
    text-decoration: none;
  }
  
  @media screen and (min-width: 768px) {
    .app {
      flex-direction: row;
    }
  
    .sidebar {
      transform: translateX(0);
    }
  
    .sidebar.show {
      transform: translateX(0);
    }
  
    .main {
      width: calc(100% - 200px);
      /* padding: 20px; */
      padding-left: 5px;
      margin-left: 120px;
    }

    .cross-button{
        display: none;
    }
  }
  
  .icon{
    margin-right: 10px;
    font-size: large;
  }

  .list-item{
    margin: 50px 10px;
  }

  .cross-button{
    position: absolute;
    top: 10px;
    right: 5px;
    border: 0;
    padding: 0;

  }

  .music-container-main{
    margin: 5%;
    margin-top: 20px;
  }

  .music-type-lable{
    font-size: x-large;
  }

  .menu-btn{
    width: 100px;
    background-color: transparent;
    border: 0;
    margin: 10px 0;
    text-align: left;
    padding-left: 10px;
  }